<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>

    <link href="css/mui.min.css" rel="stylesheet"/>
	
	<style type="text/css">   
	
		#header{height:134px;width:380px;max-height:134px;max-width:380px; background:url(imgs/back2.png); }
		#logo{width: 50th; height: 44px; text-align: left; flex-shrink: 0;}
		#logo img{width: 40px;}
		#indexCate {height: 54px; margin: 10px;}
		#indexCate a{color:darkgreen; font-size: 18px;}
		#indexCate div{color:darkgreen; font-size: 18px;}
		#search_bar {
			height: 28px;
			top: 7px;
			
		}
		.mui-active{ border-color: red green orangered pink !important; background: lightblue; font-size: 19px; font-weight: 600;}
		.masked{
	
	
		}

		
		


		
	
	
	</style>



</head>
<body>
<div id="header" style="width: 380px;">
	<!-- heaer 部分分成上下两块 -->
	
	<!-- 由于采取display flex 上面两小块div可以无脑2横向排列。 -->
	<div style="display: flex;" >
		
<!-- 		<div id="logo">
			<img src="imgs/logo.png"/>
		</div> -->      
		

		
		<div style="margin: 0px 160px; top: 0px; font-size: 30px;" >
			<h4 style="font-size: 1.875rem;">AMT</h4>
		</div>
		
		
		
		
		<div id="icon2" @click="diyMylist(cate);">
			<span class="mui-icon mui-icon-plusempty" style="color:green;margin: 3px -100px;font-weight: 800;"></span>
		</div>
		
		<!-- <div id="icon" @click="test();"> 先不进测试-->
		<div id="icon">
			<span class="mui-icon mui-icon-search" style="color: #0000FF;margin: 3px -140px;"></span>
		</div>
		
		
		
	
<!-- 
		<div id="indexSearch">
			<input type="search" value="" id="indexSearchPut" placeholder="please enter the key word" />
		</div> -->

	</div>
	
	
	<div v-show="ok" class="mui-input-row mui-search" id="search_bar">
		<input id="indexSearch"  type="search" class="mui-input-clear" placeholder="click search icon again to hide me">
	</div>
	

	
	<!-- header 下面 -->  <!-- mui-scroll 是mui框架自带class 可以使列表滚动 -->
	
	<div id="indexCate" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" >
		<div class="mui-scroll">
		
			<div class="mui-control-item mui-active "  v-bind:id="2">
				Recommand
			</div>       
<!-- 	上面这个recommand其实就是id=2 的 general 所以直接给他值了 -->

<!-- 下面这个我们需要调用实际项目muslim后台给的数据 -->
			<a class="mui-control-item " v-for="(items, index) in cate_muslim"
v-bind:id="items.categoryId">
				{{items.category}}
			</a>



			<a class="mui-control-item " v-for="(items, index) in cate"
v-bind:id="index">
				{{items}}
			</a>
			
			
		</div>
		
		
		
		
	</div>
	

</div>
	
	<!-- 底部导航功能 -->
	<nav class="mui-bar mui-bar-tab" >
		<a class="mui-tab-item mui-active" href="#tabbar" id="nav_home">
			<span class="mui-icon mui-icon-home" ></span>
			<span class="mui-tab-label" style="color: #2AC845;" >Index</span>
		</a>
		<a class="mui-tab-item" href="#tabbar-with-chat">
			<span class="mui-icon mui-icon-email" style="size: auto;" ><span class="mui-badge" style="size: auto;">9</span></span>
			<span class="mui-tab-label">Message</span>
		</a>
		<a class="mui-tab-item" href="#tabbar-with-contact">
			<span class="mui-icon mui-icon-contact" style="size: auto;"></span>
			<span class="mui-tab-label">Friend</span>
		</a>

		<a class="mui-tab-item" href="#tabbar-with-contact" id="page_category">
			<span class="mui-icon mui-icon-videocam"></span>
			<span class="mui-tab-label">Video</span>
		</a>
		
		
		<a class="mui-tab-item" href="#tabbar-with-map" id="page_login" target="login.html">
			<span class="mui-icon mui-icon-gear"></span>
			<span class="mui-tab-label">Account</span>
		</a>
	</nav>
</body>
    <!-- js 引用习惯放body最下面 -->
	<script type="text/javascript" src="js/mui.min.js"> </script>
	<script type="text/javascript" src="js/vue.min.js"> </script>  
	<!-- // vue 引用 -->
	<!-- 执行js动作 -->
    <script type="text/javascript" charset="utf-8">   
											
			mui.init({
					subpages : [
						{
							url: 'sub.html',
							id: 'sub',
							styles:{
			
			
			 					top:'134px',//mui标题栏默认高度为45px；
								bottom:'50px'//默认为0px，可不定义；4
								
							}	
						}
					]
			
				
			});//
			
			
							// mui 添加子窗口sub.html
				
				
				
				
				//plusReady：对于 HTML5+应用的页面有一个很重要的 “plusready”事件，此事件会在页面加载后自动触发，表示所有 HTML5+ API 可以使用， 在此事件触发之前不能
				
				// 调用 HTML5+ API
				mui.plusReady(function () {

					
					
					
					
					plus.storage.removeItem('suid');
				
				    var isImmersedStatusbar = plus.navigator.isImmersedStatusbar(); // 判断是否开启沉浸式
					if (isImmersedStatusbar){
						var StatusbarHeight = plus.navigator.getStatusbarHeight();
						console.log(StatusbarHeight);
						// 获取系统高度
					
						
						var header = document.getElementById('header');  // 拿到header的dom对象
						header.style.paddingTop = StatusbarHeight + 'px';
						
						
					}
					
										
					var diyList = plus.storage.getItem('diyList');  // 字符串转数组再转对象
					
					if (diyList==null) {
						diyList='Entertainment,Business,general,health,science,sports,technology'
					}	 // 这里说明用户第一次使用程序缓存没有数据这个是默认				
					
					diyList = diyList.split(",");// 在每个逗号(,)处进行分解  ["abc", "abcd", "aaa"]
					console.log(diyList);
					
					
					// 接受diy my list传给我的值
					
					                /***
					 * 获取上一个页面所传的id值
					 /*
					var self=plus.webview.currentWebview();//获取当前窗体对象
					var receiveID=self.cate;//接收A页面传入的id参数值
					console.log(receiveID.length);
			
					*/
					
							// 数组转对象
					var tmpObj={};
					for (var i=0,len=diyList.length;i<len;i++){
						
						tmpObj[i]=diyList[i];
					}
					console.log(JSON.stringify(tmpObj));

					indexCtaeObj.cate=tmpObj;
					
					//

					
				});   // mui 初始化
				// plusReady 要在模拟器看 chrome不支持
				
				
				
				
				var indexCtaeObj = new Vue({
					el:'#header',
					data:{
						// cate : [business entertainment general health science sports technology],
						
		            cate: {"0":"Entertainment","1":"Business","2":"General","3":"Health","4":"Science","5":"Sports","6":"Technology"},
					//cate: {"13":"9","entertainment":"10","general":"12","health":"14","science":"15","sports":"16","technology":"17"}
					// 这里是有问题的 cate的值应该是mtlist页面设置好以后传参index显示 但是用户第一次使用打开ap并没有设置所以刚打开时候是没有缓存的所以会报错以后解决
					ok: 1+1==3,
					
					cate_muslim:[]
					},
					
					methods:{
						
					test: function(){
						mui.openWindow({              
							url: "test.html",
							id : 'test',
						});	
					},
						
						
						
					diyMylist : function(cate){
						   // 用mui对象的openwindow方法打开窗口  artID is URL and is the parameter we transfer 
							//alert(artId);   // open the selected newslist's url to see. we use url to transfer parameter'
							alert('Ready? You will get the latest news in the world through our smart app ! ');
							//alert(JSON.stringify(cate));
							mui.openWindow({              
								url: "mylist.html",
								id : 'mylist',
								extras : {
									cate : cate,
									// news_title: items.title
								
								
								
								}        // 我们把值can shu传递给子窗口
							});
					}
							   // 用mui对象的openwindow方法打开窗口  artID is URL and is the parameter we transfer 
								//alert(artId);   // open the selected newslist's url to see. we use url to transfer parameter'
						
						
						
						
						
						
						
					}
					
					
					
				});
				

				
				
				// 链接远程服务器获取分类
				
//  'http://api.hcoder.net/api/index.php?token='+apiToken+'&c=cate';
				/*
				mui.getJSON(
				 apiUrl+'cate',
				//apiUrl, 
				{},
				function(res){
					console.log(apiUrl);
				
					
					console.log(JSON.stringify(res));
				    indexCtaeObj.cate = res.data;
					
					
				}
				
				);
				*/    //  先不用了 用usa 新闻category
			   

				mui.getJSON(
					'http://13.59.129.23:8080/amt-news/api/v1/news/categories?showAllCategories=false&timezone=Australia/Brisbane',
					function(res){
						console.log(JSON.stringify(res))
					indexCtaeObj.cate_muslim = res;
					
					}
					);
			   
			   
			   
			   
			   
			   
			   
				 //绑定分类点击事件
				mui('.mui-scroll').on('tap','.mui-control-item',function(){
						var index = this.getAttribute('id'); 
						// 获取被点击元素的id 属性 并弹出
						// 窗口间的数据传递
						//alert(index);
						var subpage = plus.webview.getWebviewById('sub');
						// 拿到子窗口的sub对象
						console.log(index); 
					
						
						
						subpage.evalJS('category="'+ index +'"; getNewsList();');  // 字符串拼接
				       // 这里的index其实有问题 说法上面会误解  html 里的item index 其实我们只要item 然后item在vue里面属性绑定了id  再讲id给下面函数里的index（不是html里那个 那个没用多余了） 作为父子页面传参
					    // 窗口间的数据传递   比如某一个窗口用到执行另一个窗口刷新之类
						//'https://newsapi.org/v2/top-headlines?country=us&category=entertainment&apiKey=09f38fd0817948539d840bd426f92294',
						//'http://api.hcoder.net/api/index.php?token='+apiToken+'&c=cate'
					
				});
				// search function
				// 监听搜索按钮事件
				
/*				var indexSearchPut = document.getElementById('indexSearchPut'); // 获取dom 传统js
				
				// 调用indexSearchPut这个对象的addEventListener方法
				// 会自动传一个e参数进来 通过e对象我们就能知道点击的是键盘上哪个按钮
				indexSearchPut.addEventListener('keyup',function(e){
	
					
					if  (e.keyCode == 13) {
						document.activeElement.blur();
						
						var kwd = this.value;
						
						
						console.log(kwd);
						var subpage = plus.webview.getWebviewById('sub'); // 拿到子窗口对象
						subpage.evalJS('kwd = "'+ kwd +'"; getNewsList();');
						
						
					} 
					
					
					});
*/					
				// 监听搜索icon 按钮 点击后显示搜索栏	
				document.getElementById('icon').addEventListener('tap',function(){
					indexCtaeObj.ok = !indexCtaeObj.ok;
				});
				
				// search function
				// 监听搜索按钮事件
								
				var indexSearchPut = document.getElementById('indexSearch'); // 获取dom 传统js
								
				// 调用indexSearchPut这个对象的addEventListener方法
				// 会自动传一个e参数进来 通过e对象我们就能知道点击的是键盘上哪个按钮
				indexSearchPut.addEventListener('keyup',function(e){
					
									
					if  (e.keyCode == 13) {
						document.activeElement.blur();
						
						var kwd = this.value;
										
										
						console.log(kwd);
						var subpage = plus.webview.getWebviewById('sub'); // 拿到子窗口对象
						subpage.evalJS('kwd = "'+ kwd +'"; getNewsList();');
										
										
					} 
									
									
					});
							
								// 监听搜索icon 按钮 点击后显示搜索栏	
					// 监听加号icon 点击后用户可以自定义分类顺序

				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
	
					
				// setting function  // 监听 按钮
				document.getElementById('page_login').addEventListener('tap', function(){
					var LoginRes = checkLogin();
					if (!LoginRes) {return false;}  // 结束此函数 自动跳转reg去注册
					
					// 本地已经有用户id srand suid以后再进入my html 

					mui.openWindow({
						url: 'my.html',
						id:'my'
						
						
						
					});
					
					
					
					}    );
					// enter settings if you already login 
					
							   
				window.addEventListener('refresh1', function(e){//执行刷新
				      location.reload();
				});
				   

				
				
				
			
	</script>  



</html>